body {
    background-color: rgb(247, 252, 251);
}

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 275px;
    
}
#startTime {
    background-color: rgb(125, 127, 129);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#questionsDiv {
    margin: 20px;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: rgb(17, 122, 73);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



#clear {
    background-color: rgb(190, 182, 182);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
    cursor: pointer;
    font-size: 24;
    background-color: #247BA0;
    color: white;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: rgba(141, 158, 141, 0.986);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: rgba(158, 173, 158, 0.986);
    margin-top: 10px;
    padding: 5px 15px;
    width: 40%;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid rgb(139, 153, 167);
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#wrapper {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}


}